version: "3.9"

services:
  backend:
    build: ./backend
    container_name: redis_backend
    restart: always
    ports:
      - "4000:4000"
    environment:
      - PG_HOST=postgres
      - PG_USER=postgres
      - PG_PASSWORD=postgres
      - PG_DB=metricsdb
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - postgres
      - redis

  frontend:
    build: ./frontend
    container_name: redis_frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

  postgres:
    image: postgres:15
    container_name: pg_container
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: metricsdb
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  redis:
    image: redis/redis-stack:latest
    container_name: redis_container
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
